<br><br>
<button class="btn btn-info" type="button" [routerLink]="['/parte1/form']">Nueva Persona</button>

<div class="contenedor">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">USUARIO</th>
                <th scope="col">PASSWORD</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usu of usuariocl">
                <td scope="row">{{usu.id}}</td>
                <td>{{usu.usuario}}</td>
                <td>{{usu.password}}</td>
                <td>
                    <boton class="btn btn-primary"
                        [routerLink]="['/parte1/form',usu.id]">Editar</boton>

                    <button class="btn btn-danger" (click)="delete(usu)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>